.sidebar {
  flex: 0 0 300px;
  background-color: var(--scrapa);
}
.menu-section {
  border-bottom: solid 2px lightgray;
}

.menu-section h3 {
  padding-left: 15px;
}

.menu-link {
  padding: 15px;
  display: flex;
  align-items: center;
}

.menu-link:hover {
  background-color: var(--red);
  color: var(--white);
}
.menu-link i,
.menu-link img {
  margin-right: 20px;
}

.menu-link img {
  height: 24px;
  border-radius: 12px;
}
